<div class="container">
    <h2 class="my-4">functions</h2>
</div>

<ul>
    <li>
        of
    </li>
    <li>
        from
    </li>
    <li>

        fromEvent
        <button id="trigger" class="btn btn-primary">Trigger</button>
    </li>
    <li>

        interval/timer
    </li>
    <li>

        forkJoin
    </li>
    <li>

        combineLatest
        <input id="temperature-input" class="form-control" placeholder="Temperature" />
        <br />
        <select id="conversion-dropdown" class="form-control">
          <option value="">Choose conversion</option>
          <option value="f-to-c">°F -> °C</option>
          <option value="c-to-f">°C -> °F</option>
        </select>
        <br />
        <p class="card-text" id="result-text">Please fill the above form</p>
    </li>
</ul>