<div class="container">
    <h2 class="my-4">pipeable-operators works</h2>
</div>

<ul>
    <li>
        filter
    </li>
    <li>
        map
    </li>
    <li>

        tap
    </li>
    <li>

        debouceTime
        <div class="my-4 form-inline">
            <div class="d-flex">
              <input #slider id="slider" class="form-control" type="range" min="0" max="100" />
            </div>
          </div>
    </li>
    <li>

        catchError
    </li>
    <li>

        oi
    </li>
</ul>